body {
  background-color: burlywood;
}

.header {
  text-align: center;
  padding: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 300%;
}

.column {
  float: left;
  width: 50%;
}

.image1 {
  position: relative;
  left: 150px;
  height: 65%;
  width: 65%;
  z-index: -1;
  border: 2px solid black;
}

.image2 {
  position: relative;
  left: 125px;
  z-index: -1;
  border: 2px solid black;
}

button {
  width: 15%;
  display: block;
  margin: auto;
}

input {
  display: block;
  margin: auto;
  width: 30%;
  border: 2px solid black;
}

.descrip {
  text-align: center;
  font-size: 150%;
}

#hArea {
  position: absolute;
  left: 250px;
  bottom: 550px;
}

#hCircum {
  position: absolute;
  right: 270px;
  bottom: 550px;
}

.note {
  text-align: center;
}
